@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1d1d1d;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    background: #ff6868;
    padding: 6px 10px;
    z-index: 99;
    transition: all .5s ease;
}
.sidebar.active {
    width: 260px;
}
.sidebar .logo-content .logo{
    color: rgb(204, 204, 204);
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    margin-top: 25px;
    transition: all .2s ease;
}
.sidebar.active .logo-content .logo {
    opacity: 1;
    pointer-events: none;
}
.logo-content .logo i {
    font-size: 28px;
    margin-right: 5px;
}
.logo-content .logo .logo-name{
    font-size: 20px;
    font-weight: 400;
}
.logo-content .logo .logo-name img {
    height: 170px;
    width: 195px;
}
.sidebar .btn-menu {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 50%;
    top: 45px;
    font-size: 20px;
    height: 35px;
    width: 35px; 
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    border-radius: 12px;
    background: #4e4e4e;
    transition: all .5s ease;
    cursor: pointer;
}
.sidebar #menu-btn {
    font-size: 25px;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 99;
}
.sidebar.active .btn-menu {
    top: 6px;
    left: 90%;
}
.sidebar ul {
    margin-top: 20px;
}
.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 0px;
    list-style: none;
    line-height: 50px;
    transition: all .5s ease;

}
.sidebar ul li .tooltip {
    position: absolute;
    left: 142px;
    top: 50%;
    transform: translateY(-50% , -50%);
    border-radius: 6px;
    height: 35px;
    width: 150px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(255, 49, 49, .5);
    opacity: 0;
    pointer-events: none;
    display: block;
    transition: all .5s ease;
}
.sidebar.active ul li .tooltip {
    display: none;
}
.sidebar ul li:hover .tooltip {
    transition:  all .5s ease;
    opacity: 1;
    top: 10%;
}
.sidebar ul li input {
    position: absolute;
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     border-radius: 12px;
     outline: none;
     border: none;
     background: #ffa6a6;
     padding-left: 50px;
     font-size: 18px;
     color: #ffffff;
}
.sidebar ul li .bx-search-alt {
    position: relative;
    z-index: 99;
    color: #1d1d1d;
    transition: all .5s ease;
}
.sidebar ul li .bx-search-alt:hover {
    color: #fff;
}
.sidebar ul li a {
    color: rgb(255, 248, 248);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover {
    color: rgb(204, 204, 204);
    background: rgb(255, 46, 46);
}
#my-files{
    border-radius: 12px;
    background: rgb(255, 46, 46);
}
.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links-name {
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .links-name {
    opacity: 1;
    pointer-events: auto;
}
.sidebar .profile-content {
    position: absolute;
    color: #ff6868;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile-content .profile {
    position: relative;
    padding: 10px 8px;
    height: 60px;
    background: #4e4e4e;
    transition: all .5s ease;
}
.profile-content .profile .profile-details {
    display: flex; 
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile .profile-details {
    opacity: 1;
    pointer-events: auto;
}
.profile .profile-details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile-details .job-name {
    margin-left: 15px;
}
.profile .profile-details .name {
    font-size: 15px;
    font-weight: 400;
}
.profile .profile-details .job {
    font-size: 12px;
}
.profile #log-out {
    position: absolute;
    left: 50%;
    bottom: 2px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 25px;
    border-radius: 12px;
    text-align: center;
    transition: all .4s ease;
}
.sidebar.active .profile #log-out {
    left: 88%;

}
.sidebar.active .profile #log-out {
    background: #4e4e4e;;
}










.box-files {
    margin: auto auto;
    width: 50%;
}
.container {
    margin: 20px;
}

#fileList {
    list-style-type: none;
    padding: 0;
}

#fileList li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#fileList li .file-icon {
    width: 20px;
    margin-right: 10px;
}

#uploadButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #e53935;
    color: #fff;
    border: none;
    cursor: pointer;
}

#uploadButton:hover {
    background-color: #c62828;
}

.uploadLabel {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e53935;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.uploadLabel:hover {
    background-color: #c62828;
}

h2 {
    margin-top: 30px;
    color: #e53935;
}

#filters {
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
}

.filter {
    margin-bottom: 10px;
}

.filter label {
    margin-right: 10px;
    color: #414141;
}

.filter select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #e53935;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#searchButton:hover {
    background-color: #c62828;
}
table {
    margin: 20px 0;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  